<!DOCTYPE html>
<html lang="es">

<meta charset="utf-8">
<!-- INICIO DE FOOTER-->
<footer class="main-footer">


    <div class="float-right d-none d-sm-block">
        <script>
        var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
        var diasSemana = new Array("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado");
        var f=new Date();
        document.write(diasSemana[f.getDay()] + ", " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
        </script>

    </div>
    <strong>Copyright &copy; 2021 BTeam</a>.</strong>
    All rights reserved.

</footer>
<!-- FIN DE FOOTER -->
</html>