<!DOCTYPE html>
<html lang="es">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">


<!-- INICIO DE SECCIÓN PARA AGREGAR ESTILOS -->

<head th:replace="plantilla/head :: header"></head>
<!--  FIN DE SECCIÓN PARA AGREGAR ESTILOS -->


<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <!--INICIO SECCIÓN DE BARRA DE NAVEGACIÓN SUPERIOR-->
    <nav th:insert="plantilla/navbar :: nav"></nav>
    <!--FIN DE SECCIÓN DE BARRA DE NAVEGACIÓN SUPERIOR-->


    <!-- INICIO DE SECCIÓN PARA EL MENU -->
    <div th:insert="plantilla/menu :: menu"></div>
    <!--  FIN DE SECCIÓN PARA EL MENU -->


    <!--INICIO DE CONTENIDO-->
    <div class="content-wrapper">


        <!-- INICIO DE ENCABEZADO DE CONTENIDO-->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Inicio</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{'/home'}">Home</a></li>
                            <li class="breadcrumb-item active">Inicio</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN DE ENCABEZADO DE CONTENIDO -->


        <!-- SECCIÓN DE CONTENIDO -->
        <section class="content">
            <div class="row justify-content-center">
                <div class = "col-md-6">
                    <h1 > ERROR 403</h1>
                    <h3>No posee los permisos para ingresar a la p&aacute;gina solicitada no ha sido encontrada.</h3>
                </div>
            </div>
        </section>
        <!-- FIN DE SECCIÓN DE CONTENIDO -->


    </div>

    <!-- FIN DE CONTENIDO -->


    <!-- INICIO DE SECCIÓN PARA AGREGAR FOOTER -->
    <div th:replace="plantilla/footer :: footer"></div>
    <!-- FIN DE SECCIÓN PARA AGREGAR FOOTER-->

</div>


<!-- INICIO DE SECCIÓN PARA AGREGAR SCRIPTS-->
<script th:replace="plantilla/script :: scripts"></script>
<!-- FIN DE SECCIÓN PARA AGREGAR SCRIPTS -->


</body>

</html>